<h1>Hi, <%= @user.name %></h1>

<h3>Upcoming Events</h3>

<ul>
  <% @upcoming_events.each do |u| %>
    <li>
      <%= u.description %>
    </li>
  <% end %>
</ul>

<h3>Previous Events</h3>

<ul>
  <% @prev_events.each do |p| %>
    <li>
      <%= p.description %>
    </li>
  <% end %>
</ul>
