<h1>All Events</h1>
<p>
<ul>
  <% @events.each do |e| %>
    <li>
        <%= link_to e.description, event_path(e) %>
        Created by: <%= link_to e.creator.name, user_path(e.creator) %>
    </li>
  <% end %>
</ul>
</p>

